openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
- description: Generated server url
  url: https://devidp.authlete.net
paths:
  /token:
    post:
      operationId: tokenEndpoint
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MultiValueMapStringString'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
      tags:
      - token-endpoint
  /session/login:
    post:
      operationId: logIn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogInRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogInResponse'
          description: OK
      tags:
      - session-api
  /introspect:
    post:
      operationId: introspect
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MultiValueMapStringString'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
      tags:
      - introspection-endpoint
  /api/user:
    post:
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateUserResponse'
          description: OK
      tags:
      - user-api
  /api/user/{id}:
    delete:
      operationId: deleteUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - user-api
    post:
      operationId: updateUser
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthleteUser'
          description: OK
      tags:
      - user-api
  /api/user/{id}/webauthn:
    get:
      operationId: createWebAuthnChallenge
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Challenge'
          description: OK
      tags:
      - user-api
    post:
      operationId: bindWebAuthnChallenge
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebAuthnChallengeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
      tags:
      - user-api
  /api/user/{id}/totp:
    get:
      operationId: createTotpCredentials
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleAuthenticatorKey'
          description: OK
      tags:
      - user-api
    post:
      operationId: bindTotpCredentials
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BindTotpCredentialsRequest'
        required: true
      responses:
        "200":
          description: OK
      tags:
      - user-api
  /api/user/{id}/admin:
    delete:
      operationId: unsetAdmin
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthleteUser'
          description: OK
      tags:
      - user-api
    post:
      operationId: setAdmin
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthleteUser'
          description: OK
      tags:
      - user-api
  /api/servicetoken/update:
    post:
      operationId: renameServiceToken
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameServiceTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTokenResponse'
          description: OK
      tags:
      - service-token-api
  /api/servicetoken/rotate:
    post:
      operationId: rotateServiceToken
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RotateServiceTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTokenResponse'
          description: OK
      tags:
      - service-token-api
  /api/servicetoken/revoke:
    post:
      operationId: revokeServiceToken
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteServiceTokenRequest'
        required: true
      responses:
        "200":
          description: OK
      tags:
      - service-token-api
  /api/servicetoken/create:
    post:
      operationId: createTokenForService
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServiceTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceTokenResponse'
          description: OK
      tags:
      - service-token-api
  /api/servicetoken/all:
    post:
      operationId: getTokensForService
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetServiceTokensRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ServiceTokenResponse'
                type: array
          description: OK
      tags:
      - service-token-api
  /api/service:
    post:
      operationId: createService
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateServiceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: OK
      tags:
      - service-api
  /api/service/remove:
    post:
      operationId: deleteService
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteServiceRequest'
        required: true
      responses:
        "200":
          description: OK
      tags:
      - service-api
  /api/service/orphans/remove:
    post:
      operationId: removeOrphanService
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveOrphanRequest'
        required: true
      responses:
        "200":
          description: OK
      tags:
      - service-api
  /api/service/move:
    post:
      operationId: moveService
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveServiceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInstanceManagementResponse'
          description: OK
      tags:
      - service-api
  /api/service/adopt:
    post:
      operationId: adoptService
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdoptServiceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceInstanceManagementResponse'
          description: OK
      tags:
      - service-api
  /api/organizationtoken/update:
    post:
      operationId: renameTokenForService
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameOrganizationTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTokenResponse'
          description: OK
      tags:
      - organization-token-api
  /api/organizationtoken/rotate:
    post:
      operationId: rotateTokenForOrganization
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RotateOrganizationTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTokenResponse'
          description: OK
      tags:
      - organization-token-api
  /api/organizationtoken/revoke:
    post:
      operationId: deleteOrganizationToken
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteOrganizationTokenRequest'
        required: true
      responses:
        "200":
          description: OK
      tags:
      - organization-token-api
  /api/organizationtoken/create:
    post:
      operationId: createTokenForOrganization
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTokenResponse'
          description: OK
      tags:
      - organization-token-api
  /api/organizationtoken/all:
    post:
      operationId: getTokensForService_1
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrganizationTokensRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationTokenResponse'
                type: array
          description: OK
      tags:
      - organization-token-api
  /api/organization:
    get:
      operationId: getAll
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/OrganizationResponse'
                type: array
          description: OK
      tags:
      - organization-api
    post:
      operationId: createOrganization
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
          description: OK
      tags:
      - organization-api
  /api/organization/{id}:
    delete:
      operationId: deleteOrganization
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - organization-api
    get:
      operationId: getOrganization
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
          description: OK
      tags:
      - organization-api
    post:
      operationId: updateOrganization
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
          description: OK
      tags:
      - organization-api
  /api/authorize:
    get:
      operationId: getCurrentAuthorizationResponse
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingAuthorization'
          description: OK
      tags:
      - authorize-api
    post:
      operationId: submitUserDecision
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Approval'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
      tags:
      - authorize-api
  /api/apiserver:
    get:
      operationId: getAll_1
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AuthleteApiServerUpdateResponse'
                type: array
          description: OK
      tags:
      - api-server-api
    post:
      operationId: createApiServer
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiServerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthleteApiServerUpdateResponse'
          description: OK
      tags:
      - api-server-api
  /api/apiserver/{id}:
    delete:
      operationId: deleteApiServer
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - api-server-api
    get:
      operationId: getApiServer
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthleteApiServerUpdateResponse'
          description: OK
      tags:
      - api-server-api
    post:
      operationId: updateApiServer
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApiServerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthleteApiServerUpdateResponse'
          description: OK
      tags:
      - api-server-api
  /api/access/service:
    post:
      operationId: updateServicePrivileges
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateServicePrivilegesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccessResponse'
          description: OK
      tags:
      - access-api
  /api/access/service/remove:
    post:
      operationId: removeServicePrivileges
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveServicePrivilegesRequest'
        required: true
      responses:
        "200":
          description: OK
      tags:
      - access-api
  /api/access/organization:
    post:
      operationId: updateOrganizationPrivileges
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationPrivilegesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationAccessResponse'
          description: OK
      tags:
      - access-api
  /api/access/organization/remove:
    post:
      operationId: removeOrganizationPrivileges
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveOrganizationPrivilegesRequest'
        required: true
      responses:
        "200":
          description: OK
      tags:
      - access-api
  /api/access/invite:
    post:
      operationId: inviteByEmail
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationResponse'
          description: OK
      tags:
      - access-api
  /api/access/invite/{id}:
    delete:
      operationId: declineInvitation
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - access-api
    get:
      operationId: getInvitation
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationResponse'
          description: OK
      tags:
      - access-api
    post:
      operationId: acceptInvitation
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          description: OK
      tags:
      - access-api
  /api/access/client:
    post:
      operationId: updateClientPrivileges
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClientPrivilegesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientAccessResponse'
          description: OK
      tags:
      - access-api
  /api/access/client/remove:
    post:
      operationId: removeClientPrivileges
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveClientPrivilegesRequest'
        required: true
      responses:
        "200":
          description: OK
      tags:
      - access-api
  /api/access/apiserver:
    post:
      operationId: updateApiServerPrivileges
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApiServerPrivilegesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiServerAccessResponse'
          description: OK
      tags:
      - access-api
  /api/access/apiserver/remove:
    post:
      operationId: removeApiServerPrivileges
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveApiServerPrivilegesRequest'
        required: true
      responses:
        "200":
          description: OK
      tags:
      - access-api
  /userinfo:
    get:
      operationId: userInfo
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
      tags:
      - user-info-endpoint
  /session/{email}:
    get:
      operationId: accountCheck
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogInResponse'
          description: OK
      tags:
      - session-api
  /session/current:
    get:
      operationId: getCurrentUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogInResponse'
          description: OK
      tags:
      - session-api
  /jwks:
    get:
      operationId: getJsonWebKeySet
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
      tags:
      - json-web-key-set-endpoint
  /authorize:
    get:
      operationId: get
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: object
          description: OK
      tags:
      - authorization-endpoint
  /api/service/orphans:
    get:
      operationId: getOrphans
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrphanServiceResponse'
          description: OK
      tags:
      - service-api
  /api/service/find/{id}:
    get:
      operationId: findService
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ServiceInstanceManagementResponse'
                type: array
          description: OK
      tags:
      - service-api
  /api/accessmap:
    get:
      operationId: getAccessMap
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserServiceMembershipResponse'
          description: OK
      tags:
      - access-map-api
  /api/access/invite/sent:
    get:
      operationId: getSentInvitations
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InvitationResponse'
                type: array
          description: OK
      tags:
      - access-api
  /api/access/invite/received:
    get:
      operationId: getReceivedInvitations
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          type: string
        style: simple
      - explode: false
        in: header
        name: DPoP
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/InvitationResponse'
                type: array
          description: OK
      tags:
      - access-api
  /.well-known/openid-configuration:
    get:
      operationId: getConfiguration
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OK
      tags:
      - discovery-endpoint
  /session/logout:
    delete:
      operationId: logOut
      responses:
        "200":
          description: OK
      tags:
      - session-api
components:
  schemas:
    MultiValueMapStringString:
      additionalProperties:
        items:
          type: string
        type: array
      properties:
        all:
          additionalProperties:
            type: string
          type: object
          writeOnly: true
        empty:
          type: boolean
      type: object
    LogInRequest:
      example:
        totp: 0
        password: password
        webauthn:
          signature: signature
          id: id
          clientData: clientData
          attestationObject: attestationObject
          type: type
          authenticatorData: authenticatorData
        username: username
      properties:
        username:
          type: string
        password:
          type: string
        totp:
          format: int32
          type: integer
        webauthn:
          $ref: '#/components/schemas/WebAuthnChallengeRequest'
      required:
      - password
      - username
      type: object
    WebAuthnChallengeRequest:
      example:
        signature: signature
        id: id
        clientData: clientData
        attestationObject: attestationObject
        type: type
        authenticatorData: authenticatorData
      properties:
        id:
          type: string
        attestationObject:
          type: string
        clientData:
          type: string
        type:
          type: string
        authenticatorData:
          type: string
        signature:
          type: string
      type: object
    Challenge:
      example:
        value:
        - value
        - value
      properties:
        value:
          items:
            format: byte
            type: string
          type: array
      type: object
    LogInResponse:
      example:
        displayName: displayName
        givenName: givenName
        familyName: familyName
        webauthn:
          authenticators:
          - authenticators
          - authenticators
          challenge:
            value:
            - value
            - value
        lastAuthTime: 2000-01-23T04:56:07.000+00:00
        id: 0
        authnMethods:
        - authnMethods
        - authnMethods
        email: email
      properties:
        id:
          format: int64
          type: integer
        givenName:
          type: string
        familyName:
          type: string
        displayName:
          type: string
        email:
          type: string
        lastAuthTime:
          format: date-time
          type: string
        authnMethods:
          items:
            type: string
          type: array
          uniqueItems: true
        webauthn:
          $ref: '#/components/schemas/WebAuthnChallengeResponse'
      type: object
    WebAuthnChallengeResponse:
      example:
        authenticators:
        - authenticators
        - authenticators
        challenge:
          value:
          - value
          - value
      properties:
        challenge:
          $ref: '#/components/schemas/Challenge'
        authenticators:
          items:
            type: string
          type: array
          uniqueItems: true
      type: object
    CreateUserRequest:
      example:
        password: password
        givenName: givenName
        familyName: familyName
        email: email
      properties:
        email:
          maxLength: 255
          minLength: 0
          type: string
        password:
          maxLength: 255
          minLength: 0
          type: string
        givenName:
          maxLength: 255
          minLength: 0
          type: string
        familyName:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - email
      - password
      type: object
    AuthleteUser:
      example:
        lastAuthTimeAsLong: 1
        xid: 6
        webAuthenticatorIDs:
        - webAuthenticatorIDs
        - webAuthenticatorIDs
        webAuthenticators:
          key: webAuthenticators
        givenName: givenName
        familyName: familyName
        lastAuthTime: 2000-01-23T04:56:07.000+00:00
        admin: true
        webAuthnEnabled: true
        id: 0
        totpEnabled: true
        email: email
      properties:
        id:
          format: int64
          type: integer
        xid:
          format: int64
          type: integer
        givenName:
          type: string
        familyName:
          type: string
        email:
          type: string
        lastAuthTime:
          format: date-time
          type: string
        admin:
          type: boolean
        webAuthenticators:
          additionalProperties:
            type: string
          type: object
        lastAuthTimeAsLong:
          format: int64
          type: integer
        webAuthenticatorIDs:
          items:
            type: string
          type: array
          uniqueItems: true
        totpEnabled:
          type: boolean
        webAuthnEnabled:
          type: boolean
      type: object
    CreateUserResponse:
      example:
        user:
          lastAuthTimeAsLong: 1
          xid: 6
          webAuthenticatorIDs:
          - webAuthenticatorIDs
          - webAuthenticatorIDs
          webAuthenticators:
            key: webAuthenticators
          givenName: givenName
          familyName: familyName
          lastAuthTime: 2000-01-23T04:56:07.000+00:00
          admin: true
          webAuthnEnabled: true
          id: 0
          totpEnabled: true
          email: email
      properties:
        user:
          $ref: '#/components/schemas/AuthleteUser'
      type: object
    UpdateUserRequest:
      example:
        givenName: givenName
        familyName: familyName
        email: email
      properties:
        email:
          maxLength: 255
          minLength: 0
          type: string
        givenName:
          maxLength: 255
          minLength: 0
          type: string
        familyName:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - email
      type: object
    BindTotpCredentialsRequest:
      example:
        totp: 0
      properties:
        totp:
          format: int32
          type: integer
      required:
      - totp
      type: object
    RenameServiceTokenRequest:
      example:
        organizationId: 6
        apiServerId: 1
        tokenId: tokenId
        description: description
        serviceId: 0
      properties:
        serviceId:
          format: int64
          type: integer
        organizationId:
          format: int64
          type: integer
        apiServerId:
          format: int64
          type: integer
        tokenId:
          type: string
        description:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - apiServerId
      - description
      - organizationId
      - serviceId
      - tokenId
      type: object
    ServiceTokenResponse:
      example:
        organizationId: 6
        apiServerId: 1
        tokenId: tokenId
        description: description
        serviceId: 0
        accessToken: accessToken
      properties:
        serviceId:
          format: int64
          type: integer
        organizationId:
          format: int64
          type: integer
        apiServerId:
          format: int64
          type: integer
        accessToken:
          type: string
        tokenId:
          type: string
        description:
          type: string
      type: object
    RotateServiceTokenRequest:
      example:
        organizationId: 6
        apiServerId: 1
        tokenId: tokenId
        serviceId: 0
      properties:
        serviceId:
          format: int64
          type: integer
        organizationId:
          format: int64
          type: integer
        apiServerId:
          format: int64
          type: integer
        tokenId:
          type: string
      required:
      - apiServerId
      - organizationId
      - serviceId
      - tokenId
      type: object
    DeleteServiceTokenRequest:
      example:
        organizationId: 6
        apiServerId: 1
        tokenId: tokenId
        description: description
        serviceId: 0
      properties:
        serviceId:
          format: int64
          type: integer
        organizationId:
          format: int64
          type: integer
        apiServerId:
          format: int64
          type: integer
        tokenId:
          type: string
        description:
          type: string
      type: object
    CreateServiceTokenRequest:
      example:
        organizationId: 6
        apiServerId: 1
        description: description
        serviceId: 0
      properties:
        serviceId:
          format: int64
          type: integer
        organizationId:
          format: int64
          type: integer
        apiServerId:
          format: int64
          type: integer
        description:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - apiServerId
      - description
      - organizationId
      - serviceId
      type: object
    GetServiceTokensRequest:
      example:
        organizationId: 6
        apiServerId: 1
        serviceId: 0
      properties:
        serviceId:
          format: int64
          type: integer
        organizationId:
          format: int64
          type: integer
        apiServerId:
          format: int64
          type: integer
      required:
      - apiServerId
      - organizationId
      - serviceId
      type: object
    CreateServiceRequest:
      example:
        apiServerId: 0
        organizationId: 6
        service:
          metadata:
          - value: value
            key: key
          - value: value
            key: key
          predefinedTransformedClaims: predefinedTransformedClaims
          apiKey: 1
          supportedScopes:
          - name: name
            description: description
            attributes:
            - value: value
              key: key
            - value: value
              key: key
            defaultEntry: true
            descriptions:
            - tag: tag
              value: value
            - tag: tag
              value: value
          - name: name
            description: description
            attributes:
            - value: value
              key: key
            - value: value
              key: key
            defaultEntry: true
            descriptions:
            - tag: tag
              value: value
            - tag: tag
              value: value
          idTokenSignatureKeyId: idTokenSignatureKeyId
          singleAccessTokenPerSubject: true
          signedJwksUri: https://openapi-generator.tech
          issuer: https://openapi-generator.tech
          dynamicRegistrationSupported: true
          number: 0
          supportedServiceProfiles:
          - fapi
          - fapi
          authorizationResponseDuration: 2
          refreshTokenIdempotent: true
          supportedDocumentsCheckMethods:
          - supportedDocumentsCheckMethods
          - supportedDocumentsCheckMethods
          registrationManagementEndpoint: https://openapi-generator.tech
          supportedClaims:
          - supportedClaims
          - supportedClaims
          accessTokenForExternalAttachmentEmbedded: true
          userCodeLength: 7
          missingClientIdAllowed: true
          deviceFlowPollingInterval: 6
          developerSnsCredentials:
          - apiKey: apiKey
            sns: facebook
            apiSecret: apiSecret
          - apiKey: apiKey
            sns: facebook
            apiSecret: apiSecret
          deviceFlowCodeDuration: 1
          supportedTrustFrameworks:
          - supportedTrustFrameworks
          - supportedTrustFrameworks
          developerAuthenticationCallbackApiKey: developerAuthenticationCallbackApiKey
          deviceVerificationUriComplete: https://openapi-generator.tech
          refreshTokenKept: true
          authenticationCallbackEndpoint: https://openapi-generator.tech
          apiSecret: apiSecret
          developerAuthenticationCallbackApiSecret: developerAuthenticationCallbackApiSecret
          accessTokenDuration: 7
          federationSignatureKeyId: federationSignatureKeyId
          backchannelUserCodeParameterSupported: true
          supportedVerifiedClaims:
          - supportedVerifiedClaims
          - supportedVerifiedClaims
          clientsPerDeveloper: 2
          unauthorizedOnClientConfigSupported: true
          credentialDuration: 9
          supportedDigestAlgorithms:
          - supportedDigestAlgorithms
          - supportedDigestAlgorithms
          snsCredentials:
          - apiKey: apiKey
            sns: facebook
            apiSecret: apiSecret
          - apiKey: apiKey
            sns: facebook
            apiSecret: apiSecret
          directRevocationEndpointEnabled: true
          federationJwks: federationJwks
          grantManagementActionRequired: true
          supportedDocuments:
          - supportedDocuments
          - supportedDocuments
          requestObjectAudienceChecked: true
          jwks: jwks
          tokenExpirationLinked: true
          supportedCustomClientMetadata:
          - supportedCustomClientMetadata
          - supportedCustomClientMetadata
          credentialTransactionDuration: 9
          directAuthorizationEndpointEnabled: true
          pushedAuthReqEndpoint: https://openapi-generator.tech
          supportedPromptValues:
          - none
          - none
          developerAuthenticationCallbackEndpoint: https://openapi-generator.tech
          tokenEndpoint: https://openapi-generator.tech
          supportedClaimTypes:
          - normal
          - normal
          supportedIntrospectionAuthMethods:
          - none
          - none
          mutualTlsValidatePkiCertChain: true
          policyUri: https://openapi-generator.tech
          scopeRequired: true
          supportedDocumentsVerificationMethods:
          - supportedDocumentsVerificationMethods
          - supportedDocumentsVerificationMethods
          verifiedClaimsValidationSchemaSet: verifiedClaimsValidationSchemaSet
          userInfoEndpoint: https://openapi-generator.tech
          dcrScopeUsedAsRequestable: true
          idTokenAudType: idTokenAudType
          registrationEndpoint: https://openapi-generator.tech
          supportedElectronicRecords:
          - supportedElectronicRecords
          - supportedElectronicRecords
          deviceVerificationUri: https://openapi-generator.tech
          credentialOfferDuration: 4
          authenticationCallbackApiSecret: authenticationCallbackApiSecret
          requestObjectRequired: true
          backchannelAuthenticationEndpoint: https://openapi-generator.tech
          serviceOwnerNumber: 6
          authorizationSignatureKeyId: authorizationSignatureKeyId
          endSessionEndpoint: https://openapi-generator.tech
          grantManagementEndpoint: https://openapi-generator.tech
          supportedUiLocales:
          - supportedUiLocales
          - supportedUiLocales
          nbfOptional: true
          attributes:
          - value: value
            key: key
          - value: value
            key: key
          traditionalRequestObjectProcessingApplied: true
          backchannelBindingMessageRequiredInFapi: true
          pkceRequired: true
          claimShortcutRestrictive: true
          directIntrospectionEndpointEnabled: true
          dcrDuplicateSoftwareIdBlocked: true
          hsks:
          - kty: kty
            use: use
            kid: kid
            hsmName: hsmName
            handle: handle
            publicKey: publicKey
            alg: alg
          - kty: kty
            use: use
            kid: kid
            hsmName: hsmName
            handle: handle
            publicKey: publicKey
            alg: alg
          jwtGrantByIdentifiableClientsOnly: true
          modifiedAt: 5
          introspectionEndpoint: https://openapi-generator.tech
          supportedBackchannelTokenDeliveryModes:
          - poll
          - poll
          accessTokenType: accessTokenType
          refreshTokenDurationReset: true
          federationRegistrationEndpoint: https://openapi-generator.tech
          createdAt: 5
          credentialJwks: credentialJwks
          supportedClientRegistrationTypes:
          - automatic
          - automatic
          loopbackRedirectionUriVariable: true
          tlsClientCertificateBoundAccessTokens: true
          userCodeCharset: BASE20
          issSuppressed: true
          federationConfigurationDuration: 1
          supportedVerificationMethods:
          - supportedVerificationMethods
          - supportedVerificationMethods
          trustAnchors:
          - jwks: jwks
            entityId: https://openapi-generator.tech
          - jwks: jwks
            entityId: https://openapi-generator.tech
          serviceDocumentation: https://openapi-generator.tech
          revocationEndpoint: https://openapi-generator.tech
          hsmEnabled: true
          verifiableCredentialsEnabled: true
          organizationName: organizationName
          supportedDisplays:
          - page
          - page
          parRequired: true
          refreshTokenDurationKept: true
          errorDescriptionOmitted: true
          resourceSignatureKeyId: resourceSignatureKeyId
          requestObjectEncryptionEncMatchRequired: true
          jwtGrantEncryptedJwtRejected: true
          trustedRootCertificates:
          - trustedRootCertificates
          - trustedRootCertificates
          authorizationEndpoint: https://openapi-generator.tech
          supportedDocumentsValidationMethods:
          - supportedDocumentsValidationMethods
          - supportedDocumentsValidationMethods
          rsResponseSigned: true
          supportedClaimLocales:
          - supportedClaimLocales
          - supportedClaimLocales
          requestObjectEncryptionAlgMatchRequired: true
          pkceS256Required: true
          tokenExchangeUnsignedJwtRejected: true
          tosUri: https://openapi-generator.tech
          authorityHints:
          - https://openapi-generator.tech
          - https://openapi-generator.tech
          supportedAttachments:
          - embedded
          - embedded
          directUserInfoEndpointEnabled: true
          userInfoSignatureKeyId: userInfoSignatureKeyId
          supportedDocumentsMethods:
          - supportedDocumentsMethods
          - supportedDocumentsMethods
          cnonceDuration: 6
          accessTokenSignatureKeyId: accessTokenSignatureKeyId
          jwtGrantUnsignedJwtRejected: true
          directTokenEndpointEnabled: true
          mtlsEndpointAliases:
          - name: name
            uri: https://openapi-generator.tech
          - name: name
            uri: https://openapi-generator.tech
          tokenExchangeByIdentifiableClientsOnly: true
          jwksUri: https://openapi-generator.tech
          description: description
          pushedAuthReqDuration: 4
          supportedEvidence:
          - supportedEvidence
          - supportedEvidence
          supportedAcrs:
          - supportedAcrs
          - supportedAcrs
          directJwksEndpointEnabled: true
          errorUriOmitted: true
          supportedIdentityDocuments:
          - supportedIdentityDocuments
          - supportedIdentityDocuments
          idTokenReissuable: true
          tokenExchangeByConfidentialClientsOnly: true
          supportedResponseTypes:
          - none
          - none
          supportedTokenAuthMethods:
          - none
          - none
          clientIdAliasEnabled: true
          allowableClockSkew: 1
          deviceAuthorizationEndpoint: https://openapi-generator.tech
          backchannelAuthReqIdDuration: 7
          tokenExchangeByPermittedClientsOnly: true
          tokenExchangeEncryptedJwtRejected: true
          preAuthorizedGrantAnonymousAccessSupported: true
          supportedGrantTypes:
          - authorization_code
          - authorization_code
          supportedAuthorizationDetailsTypes:
          - supportedAuthorizationDetailsTypes
          - supportedAuthorizationDetailsTypes
          backchannelPollingInterval: 1
          serviceName: serviceName
          accessTokenSignAlg: none
          userPinLength: 5
          idTokenDuration: 3
          authenticationCallbackApiKey: authenticationCallbackApiKey
          openidDroppedOnRefreshWithoutOfflineAccess: true
          frontChannelRequestObjectEncryptionRequired: true
          federationEnabled: true
          refreshTokenDuration: 9
          supportedRevocationAuthMethods:
          - none
          - none
          credentialIssuerMetadata:
            credentialIssuer: https://openapi-generator.tech
            credentialEndpoint: https://openapi-generator.tech
            deferredCredentialEndpoint: https://openapi-generator.tech
            authorizationServer: https://openapi-generator.tech
            batchCredentialEndpoint: https://openapi-generator.tech
            credentialsSupported: credentialsSupported
            empty: true
          supportedSnses:
          - facebook
          - facebook
          supportedDeveloperSnses:
          - facebook
          - facebook
      properties:
        apiServerId:
          format: int64
          type: integer
        organizationId:
          format: int64
          type: integer
        service:
          $ref: '#/components/schemas/Service'
      required:
      - apiServerId
      - organizationId
      type: object
    CredentialIssuerMetadata:
      example:
        credentialIssuer: https://openapi-generator.tech
        credentialEndpoint: https://openapi-generator.tech
        deferredCredentialEndpoint: https://openapi-generator.tech
        authorizationServer: https://openapi-generator.tech
        batchCredentialEndpoint: https://openapi-generator.tech
        credentialsSupported: credentialsSupported
        empty: true
      properties:
        credentialIssuer:
          format: uri
          type: string
        authorizationServer:
          format: uri
          type: string
        credentialEndpoint:
          format: uri
          type: string
        batchCredentialEndpoint:
          format: uri
          type: string
        deferredCredentialEndpoint:
          format: uri
          type: string
        credentialsSupported:
          type: string
        empty:
          type: boolean
      type: object
    Hsk:
      example:
        kty: kty
        use: use
        kid: kid
        hsmName: hsmName
        handle: handle
        publicKey: publicKey
        alg: alg
      properties:
        kty:
          type: string
        use:
          type: string
        alg:
          type: string
        kid:
          type: string
        hsmName:
          type: string
        handle:
          type: string
        publicKey:
          type: string
      type: object
    NamedUri:
      example:
        name: name
        uri: https://openapi-generator.tech
      properties:
        name:
          type: string
        uri:
          format: uri
          type: string
      type: object
    Pair:
      example:
        value: value
        key: key
      properties:
        key:
          type: string
        value:
          type: string
      type: object
    Scope:
      example:
        name: name
        description: description
        attributes:
        - value: value
          key: key
        - value: value
          key: key
        defaultEntry: true
        descriptions:
        - tag: tag
          value: value
        - tag: tag
          value: value
      properties:
        name:
          type: string
        defaultEntry:
          type: boolean
        description:
          type: string
        descriptions:
          items:
            $ref: '#/components/schemas/TaggedValue'
          type: array
        attributes:
          items:
            $ref: '#/components/schemas/Pair'
          type: array
      type: object
    Service:
      example:
        metadata:
        - value: value
          key: key
        - value: value
          key: key
        predefinedTransformedClaims: predefinedTransformedClaims
        apiKey: 1
        supportedScopes:
        - name: name
          description: description
          attributes:
          - value: value
            key: key
          - value: value
            key: key
          defaultEntry: true
          descriptions:
          - tag: tag
            value: value
          - tag: tag
            value: value
        - name: name
          description: description
          attributes:
          - value: value
            key: key
          - value: value
            key: key
          defaultEntry: true
          descriptions:
          - tag: tag
            value: value
          - tag: tag
            value: value
        idTokenSignatureKeyId: idTokenSignatureKeyId
        singleAccessTokenPerSubject: true
        signedJwksUri: https://openapi-generator.tech
        issuer: https://openapi-generator.tech
        dynamicRegistrationSupported: true
        number: 0
        supportedServiceProfiles:
        - fapi
        - fapi
        authorizationResponseDuration: 2
        refreshTokenIdempotent: true
        supportedDocumentsCheckMethods:
        - supportedDocumentsCheckMethods
        - supportedDocumentsCheckMethods
        registrationManagementEndpoint: https://openapi-generator.tech
        supportedClaims:
        - supportedClaims
        - supportedClaims
        accessTokenForExternalAttachmentEmbedded: true
        userCodeLength: 7
        missingClientIdAllowed: true
        deviceFlowPollingInterval: 6
        developerSnsCredentials:
        - apiKey: apiKey
          sns: facebook
          apiSecret: apiSecret
        - apiKey: apiKey
          sns: facebook
          apiSecret: apiSecret
        deviceFlowCodeDuration: 1
        supportedTrustFrameworks:
        - supportedTrustFrameworks
        - supportedTrustFrameworks
        developerAuthenticationCallbackApiKey: developerAuthenticationCallbackApiKey
        deviceVerificationUriComplete: https://openapi-generator.tech
        refreshTokenKept: true
        authenticationCallbackEndpoint: https://openapi-generator.tech
        apiSecret: apiSecret
        developerAuthenticationCallbackApiSecret: developerAuthenticationCallbackApiSecret
        accessTokenDuration: 7
        federationSignatureKeyId: federationSignatureKeyId
        backchannelUserCodeParameterSupported: true
        supportedVerifiedClaims:
        - supportedVerifiedClaims
        - supportedVerifiedClaims
        clientsPerDeveloper: 2
        unauthorizedOnClientConfigSupported: true
        credentialDuration: 9
        supportedDigestAlgorithms:
        - supportedDigestAlgorithms
        - supportedDigestAlgorithms
        snsCredentials:
        - apiKey: apiKey
          sns: facebook
          apiSecret: apiSecret
        - apiKey: apiKey
          sns: facebook
          apiSecret: apiSecret
        directRevocationEndpointEnabled: true
        federationJwks: federationJwks
        grantManagementActionRequired: true
        supportedDocuments:
        - supportedDocuments
        - supportedDocuments
        requestObjectAudienceChecked: true
        jwks: jwks
        tokenExpirationLinked: true
        supportedCustomClientMetadata:
        - supportedCustomClientMetadata
        - supportedCustomClientMetadata
        credentialTransactionDuration: 9
        directAuthorizationEndpointEnabled: true
        pushedAuthReqEndpoint: https://openapi-generator.tech
        supportedPromptValues:
        - none
        - none
        developerAuthenticationCallbackEndpoint: https://openapi-generator.tech
        tokenEndpoint: https://openapi-generator.tech
        supportedClaimTypes:
        - normal
        - normal
        supportedIntrospectionAuthMethods:
        - none
        - none
        mutualTlsValidatePkiCertChain: true
        policyUri: https://openapi-generator.tech
        scopeRequired: true
        supportedDocumentsVerificationMethods:
        - supportedDocumentsVerificationMethods
        - supportedDocumentsVerificationMethods
        verifiedClaimsValidationSchemaSet: verifiedClaimsValidationSchemaSet
        userInfoEndpoint: https://openapi-generator.tech
        dcrScopeUsedAsRequestable: true
        idTokenAudType: idTokenAudType
        registrationEndpoint: https://openapi-generator.tech
        supportedElectronicRecords:
        - supportedElectronicRecords
        - supportedElectronicRecords
        deviceVerificationUri: https://openapi-generator.tech
        credentialOfferDuration: 4
        authenticationCallbackApiSecret: authenticationCallbackApiSecret
        requestObjectRequired: true
        backchannelAuthenticationEndpoint: https://openapi-generator.tech
        serviceOwnerNumber: 6
        authorizationSignatureKeyId: authorizationSignatureKeyId
        endSessionEndpoint: https://openapi-generator.tech
        grantManagementEndpoint: https://openapi-generator.tech
        supportedUiLocales:
        - supportedUiLocales
        - supportedUiLocales
        nbfOptional: true
        attributes:
        - value: value
          key: key
        - value: value
          key: key
        traditionalRequestObjectProcessingApplied: true
        backchannelBindingMessageRequiredInFapi: true
        pkceRequired: true
        claimShortcutRestrictive: true
        directIntrospectionEndpointEnabled: true
        dcrDuplicateSoftwareIdBlocked: true
        hsks:
        - kty: kty
          use: use
          kid: kid
          hsmName: hsmName
          handle: handle
          publicKey: publicKey
          alg: alg
        - kty: kty
          use: use
          kid: kid
          hsmName: hsmName
          handle: handle
          publicKey: publicKey
          alg: alg
        jwtGrantByIdentifiableClientsOnly: true
        modifiedAt: 5
        introspectionEndpoint: https://openapi-generator.tech
        supportedBackchannelTokenDeliveryModes:
        - poll
        - poll
        accessTokenType: accessTokenType
        refreshTokenDurationReset: true
        federationRegistrationEndpoint: https://openapi-generator.tech
        createdAt: 5
        credentialJwks: credentialJwks
        supportedClientRegistrationTypes:
        - automatic
        - automatic
        loopbackRedirectionUriVariable: true
        tlsClientCertificateBoundAccessTokens: true
        userCodeCharset: BASE20
        issSuppressed: true
        federationConfigurationDuration: 1
        supportedVerificationMethods:
        - supportedVerificationMethods
        - supportedVerificationMethods
        trustAnchors:
        - jwks: jwks
          entityId: https://openapi-generator.tech
        - jwks: jwks
          entityId: https://openapi-generator.tech
        serviceDocumentation: https://openapi-generator.tech
        revocationEndpoint: https://openapi-generator.tech
        hsmEnabled: true
        verifiableCredentialsEnabled: true
        organizationName: organizationName
        supportedDisplays:
        - page
        - page
        parRequired: true
        refreshTokenDurationKept: true
        errorDescriptionOmitted: true
        resourceSignatureKeyId: resourceSignatureKeyId
        requestObjectEncryptionEncMatchRequired: true
        jwtGrantEncryptedJwtRejected: true
        trustedRootCertificates:
        - trustedRootCertificates
        - trustedRootCertificates
        authorizationEndpoint: https://openapi-generator.tech
        supportedDocumentsValidationMethods:
        - supportedDocumentsValidationMethods
        - supportedDocumentsValidationMethods
        rsResponseSigned: true
        supportedClaimLocales:
        - supportedClaimLocales
        - supportedClaimLocales
        requestObjectEncryptionAlgMatchRequired: true
        pkceS256Required: true
        tokenExchangeUnsignedJwtRejected: true
        tosUri: https://openapi-generator.tech
        authorityHints:
        - https://openapi-generator.tech
        - https://openapi-generator.tech
        supportedAttachments:
        - embedded
        - embedded
        directUserInfoEndpointEnabled: true
        userInfoSignatureKeyId: userInfoSignatureKeyId
        supportedDocumentsMethods:
        - supportedDocumentsMethods
        - supportedDocumentsMethods
        cnonceDuration: 6
        accessTokenSignatureKeyId: accessTokenSignatureKeyId
        jwtGrantUnsignedJwtRejected: true
        directTokenEndpointEnabled: true
        mtlsEndpointAliases:
        - name: name
          uri: https://openapi-generator.tech
        - name: name
          uri: https://openapi-generator.tech
        tokenExchangeByIdentifiableClientsOnly: true
        jwksUri: https://openapi-generator.tech
        description: description
        pushedAuthReqDuration: 4
        supportedEvidence:
        - supportedEvidence
        - supportedEvidence
        supportedAcrs:
        - supportedAcrs
        - supportedAcrs
        directJwksEndpointEnabled: true
        errorUriOmitted: true
        supportedIdentityDocuments:
        - supportedIdentityDocuments
        - supportedIdentityDocuments
        idTokenReissuable: true
        tokenExchangeByConfidentialClientsOnly: true
        supportedResponseTypes:
        - none
        - none
        supportedTokenAuthMethods:
        - none
        - none
        clientIdAliasEnabled: true
        allowableClockSkew: 1
        deviceAuthorizationEndpoint: https://openapi-generator.tech
        backchannelAuthReqIdDuration: 7
        tokenExchangeByPermittedClientsOnly: true
        tokenExchangeEncryptedJwtRejected: true
        preAuthorizedGrantAnonymousAccessSupported: true
        supportedGrantTypes:
        - authorization_code
        - authorization_code
        supportedAuthorizationDetailsTypes:
        - supportedAuthorizationDetailsTypes
        - supportedAuthorizationDetailsTypes
        backchannelPollingInterval: 1
        serviceName: serviceName
        accessTokenSignAlg: none
        userPinLength: 5
        idTokenDuration: 3
        authenticationCallbackApiKey: authenticationCallbackApiKey
        openidDroppedOnRefreshWithoutOfflineAccess: true
        frontChannelRequestObjectEncryptionRequired: true
        federationEnabled: true
        refreshTokenDuration: 9
        supportedRevocationAuthMethods:
        - none
        - none
        credentialIssuerMetadata:
          credentialIssuer: https://openapi-generator.tech
          credentialEndpoint: https://openapi-generator.tech
          deferredCredentialEndpoint: https://openapi-generator.tech
          authorizationServer: https://openapi-generator.tech
          batchCredentialEndpoint: https://openapi-generator.tech
          credentialsSupported: credentialsSupported
          empty: true
        supportedSnses:
        - facebook
        - facebook
        supportedDeveloperSnses:
        - facebook
        - facebook
      properties:
        number:
          format: int32
          type: integer
        serviceOwnerNumber:
          format: int32
          type: integer
        serviceName:
          type: string
        apiKey:
          format: int64
          type: integer
        apiSecret:
          type: string
        issuer:
          format: uri
          type: string
        authorizationEndpoint:
          format: uri
          type: string
        tokenEndpoint:
          format: uri
          type: string
        revocationEndpoint:
          format: uri
          type: string
        supportedRevocationAuthMethods:
          items:
            enum:
            - none
            - client_secret_basic
            - client_secret_post
            - client_secret_jwt
            - private_key_jwt
            - tls_client_auth
            - self_signed_tls_client_auth
            type: string
          type: array
        userInfoEndpoint:
          format: uri
          type: string
        jwksUri:
          format: uri
          type: string
        jwks:
          type: string
        registrationEndpoint:
          format: uri
          type: string
        registrationManagementEndpoint:
          format: uri
          type: string
        supportedScopes:
          items:
            $ref: '#/components/schemas/Scope'
          type: array
        supportedResponseTypes:
          items:
            enum:
            - none
            - code
            - token
            - id_token
            - code token
            - code id_token
            - id_token token
            - code id_token token
            type: string
          type: array
        supportedGrantTypes:
          items:
            enum:
            - authorization_code
            - implicit
            - password
            - client_credentials
            - refresh_token
            - urn:openid:params:grant-type:ciba
            - urn:ietf:params:oauth:grant-type:device_code
            - urn:ietf:params:oauth:grant-type:token-exchange
            - urn:ietf:params:oauth:grant-type:jwt-bearer
            - urn:ietf:params:oauth:grant-type:pre-authorized_code
            type: string
          type: array
        supportedAcrs:
          items:
            type: string
          type: array
        supportedTokenAuthMethods:
          items:
            enum:
            - none
            - client_secret_basic
            - client_secret_post
            - client_secret_jwt
            - private_key_jwt
            - tls_client_auth
            - self_signed_tls_client_auth
            type: string
          type: array
        supportedDisplays:
          items:
            enum:
            - page
            - popup
            - touch
            - wap
            type: string
          type: array
        supportedClaimTypes:
          items:
            enum:
            - normal
            - aggregated
            - distributed
            type: string
          type: array
        supportedClaims:
          items:
            type: string
          type: array
        serviceDocumentation:
          format: uri
          type: string
        supportedClaimLocales:
          items:
            type: string
          type: array
        supportedUiLocales:
          items:
            type: string
          type: array
        policyUri:
          format: uri
          type: string
        tosUri:
          format: uri
          type: string
        authenticationCallbackEndpoint:
          format: uri
          type: string
        authenticationCallbackApiKey:
          type: string
        authenticationCallbackApiSecret:
          type: string
        supportedSnses:
          items:
            enum:
            - facebook
            type: string
          type: array
        snsCredentials:
          items:
            $ref: '#/components/schemas/SnsCredentials'
          type: array
        createdAt:
          format: int64
          type: integer
        modifiedAt:
          format: int64
          type: integer
        developerAuthenticationCallbackEndpoint:
          format: uri
          type: string
        developerAuthenticationCallbackApiKey:
          type: string
        developerAuthenticationCallbackApiSecret:
          type: string
        supportedDeveloperSnses:
          items:
            enum:
            - facebook
            type: string
          type: array
        developerSnsCredentials:
          items:
            $ref: '#/components/schemas/SnsCredentials'
          type: array
        clientsPerDeveloper:
          format: int32
          type: integer
        directAuthorizationEndpointEnabled:
          type: boolean
        directTokenEndpointEnabled:
          type: boolean
        directRevocationEndpointEnabled:
          type: boolean
        directUserInfoEndpointEnabled:
          type: boolean
        directJwksEndpointEnabled:
          type: boolean
        directIntrospectionEndpointEnabled:
          type: boolean
        singleAccessTokenPerSubject:
          type: boolean
        pkceRequired:
          type: boolean
        pkceS256Required:
          type: boolean
        refreshTokenKept:
          type: boolean
        refreshTokenDurationKept:
          type: boolean
        refreshTokenDurationReset:
          type: boolean
        errorDescriptionOmitted:
          type: boolean
        errorUriOmitted:
          type: boolean
        clientIdAliasEnabled:
          type: boolean
        supportedServiceProfiles:
          items:
            enum:
            - fapi
            - openbanking
            type: string
          type: array
        tlsClientCertificateBoundAccessTokens:
          type: boolean
        introspectionEndpoint:
          format: uri
          type: string
        supportedIntrospectionAuthMethods:
          items:
            enum:
            - none
            - client_secret_basic
            - client_secret_post
            - client_secret_jwt
            - private_key_jwt
            - tls_client_auth
            - self_signed_tls_client_auth
            type: string
          type: array
        mutualTlsValidatePkiCertChain:
          type: boolean
        trustedRootCertificates:
          items:
            type: string
          type: array
        dynamicRegistrationSupported:
          type: boolean
        endSessionEndpoint:
          format: uri
          type: string
        description:
          type: string
        accessTokenType:
          type: string
        accessTokenSignAlg:
          enum:
          - none
          - HS256
          - HS384
          - HS512
          - RS256
          - RS384
          - RS512
          - ES256
          - ES384
          - ES512
          - PS256
          - PS384
          - PS512
          - ES256K
          - EdDSA
          type: string
        accessTokenDuration:
          format: int64
          type: integer
        refreshTokenDuration:
          format: int64
          type: integer
        idTokenDuration:
          format: int64
          type: integer
        authorizationResponseDuration:
          format: int64
          type: integer
        pushedAuthReqDuration:
          format: int64
          type: integer
        metadata:
          items:
            $ref: '#/components/schemas/Pair'
          type: array
        accessTokenSignatureKeyId:
          type: string
        authorizationSignatureKeyId:
          type: string
        idTokenSignatureKeyId:
          type: string
        userInfoSignatureKeyId:
          type: string
        supportedBackchannelTokenDeliveryModes:
          items:
            enum:
            - poll
            - ping
            - push
            type: string
          type: array
        backchannelAuthenticationEndpoint:
          format: uri
          type: string
        backchannelUserCodeParameterSupported:
          type: boolean
        backchannelAuthReqIdDuration:
          format: int32
          type: integer
        backchannelPollingInterval:
          format: int32
          type: integer
        backchannelBindingMessageRequiredInFapi:
          type: boolean
        allowableClockSkew:
          format: int32
          type: integer
        deviceAuthorizationEndpoint:
          format: uri
          type: string
        deviceVerificationUri:
          format: uri
          type: string
        deviceVerificationUriComplete:
          format: uri
          type: string
        deviceFlowCodeDuration:
          format: int32
          type: integer
        deviceFlowPollingInterval:
          format: int32
          type: integer
        userCodeCharset:
          enum:
          - BASE20
          - NUMERIC
          type: string
        userCodeLength:
          format: int32
          type: integer
        pushedAuthReqEndpoint:
          format: uri
          type: string
        mtlsEndpointAliases:
          items:
            $ref: '#/components/schemas/NamedUri'
          type: array
        supportedAuthorizationDetailsTypes:
          items:
            type: string
          type: array
        supportedTrustFrameworks:
          items:
            type: string
          type: array
        supportedEvidence:
          items:
            type: string
          type: array
        supportedIdentityDocuments:
          deprecated: true
          items:
            type: string
          type: array
        supportedDocuments:
          items:
            type: string
          type: array
        supportedVerificationMethods:
          deprecated: true
          items:
            type: string
          type: array
        supportedDocumentsMethods:
          items:
            type: string
          type: array
        supportedDocumentsValidationMethods:
          deprecated: true
          items:
            type: string
          type: array
        supportedDocumentsVerificationMethods:
          deprecated: true
          items:
            type: string
          type: array
        supportedDocumentsCheckMethods:
          items:
            type: string
          type: array
        supportedElectronicRecords:
          items:
            type: string
          type: array
        supportedVerifiedClaims:
          items:
            type: string
          type: array
        supportedAttachments:
          items:
            enum:
            - embedded
            - external
            type: string
          type: array
        supportedDigestAlgorithms:
          items:
            type: string
          type: array
        missingClientIdAllowed:
          type: boolean
        parRequired:
          type: boolean
        requestObjectRequired:
          type: boolean
        traditionalRequestObjectProcessingApplied:
          type: boolean
        claimShortcutRestrictive:
          type: boolean
        scopeRequired:
          type: boolean
        nbfOptional:
          type: boolean
        issSuppressed:
          type: boolean
        attributes:
          items:
            $ref: '#/components/schemas/Pair'
          type: array
        supportedCustomClientMetadata:
          items:
            type: string
          type: array
        tokenExpirationLinked:
          type: boolean
        frontChannelRequestObjectEncryptionRequired:
          type: boolean
        requestObjectEncryptionAlgMatchRequired:
          type: boolean
        requestObjectEncryptionEncMatchRequired:
          type: boolean
        hsmEnabled:
          type: boolean
        hsks:
          items:
            $ref: '#/components/schemas/Hsk'
          type: array
        grantManagementEndpoint:
          format: uri
          type: string
        grantManagementActionRequired:
          type: boolean
        unauthorizedOnClientConfigSupported:
          type: boolean
        dcrScopeUsedAsRequestable:
          type: boolean
        predefinedTransformedClaims:
          type: string
        loopbackRedirectionUriVariable:
          type: boolean
        requestObjectAudienceChecked:
          type: boolean
        accessTokenForExternalAttachmentEmbedded:
          type: boolean
        refreshTokenIdempotent:
          type: boolean
        federationEnabled:
          type: boolean
        organizationName:
          type: string
        authorityHints:
          items:
            format: uri
            type: string
          type: array
        trustAnchors:
          items:
            $ref: '#/components/schemas/TrustAnchor'
          type: array
        federationJwks:
          type: string
        federationSignatureKeyId:
          type: string
        federationConfigurationDuration:
          format: int32
          type: integer
        signedJwksUri:
          format: uri
          type: string
        federationRegistrationEndpoint:
          format: uri
          type: string
        supportedClientRegistrationTypes:
          items:
            enum:
            - automatic
            - explicit
            type: string
          type: array
        tokenExchangeByIdentifiableClientsOnly:
          type: boolean
        tokenExchangeByConfidentialClientsOnly:
          type: boolean
        tokenExchangeByPermittedClientsOnly:
          type: boolean
        tokenExchangeEncryptedJwtRejected:
          type: boolean
        tokenExchangeUnsignedJwtRejected:
          type: boolean
        jwtGrantByIdentifiableClientsOnly:
          type: boolean
        jwtGrantEncryptedJwtRejected:
          type: boolean
        jwtGrantUnsignedJwtRejected:
          type: boolean
        dcrDuplicateSoftwareIdBlocked:
          type: boolean
        resourceSignatureKeyId:
          type: string
        rsResponseSigned:
          type: boolean
        openidDroppedOnRefreshWithoutOfflineAccess:
          type: boolean
        verifiableCredentialsEnabled:
          type: boolean
        credentialIssuerMetadata:
          $ref: '#/components/schemas/CredentialIssuerMetadata'
        credentialOfferDuration:
          format: int64
          type: integer
        userPinLength:
          format: int32
          type: integer
        idTokenAudType:
          type: string
        supportedPromptValues:
          items:
            enum:
            - none
            - login
            - consent
            - select_account
            - create
            type: string
          type: array
        verifiedClaimsValidationSchemaSet:
          type: string
        preAuthorizedGrantAnonymousAccessSupported:
          type: boolean
        credentialTransactionDuration:
          format: int64
          type: integer
        credentialDuration:
          format: int64
          type: integer
        credentialJwks:
          type: string
        idTokenReissuable:
          type: boolean
        cnonceDuration:
          format: int64
          type: integer
      type: object
    SnsCredentials:
      example:
        apiKey: apiKey
        sns: facebook
        apiSecret: apiSecret
      properties:
        sns:
          enum:
          - facebook
          type: string
        apiKey:
          type: string
        apiSecret:
          type: string
      type: object
    TaggedValue:
      example:
        tag: tag
        value: value
      properties:
        tag:
          type: string
        value:
          type: string
      type: object
    TrustAnchor:
      example:
        jwks: jwks
        entityId: https://openapi-generator.tech
      properties:
        entityId:
          format: uri
          type: string
        jwks:
          type: string
      type: object
    DeleteServiceRequest:
      example:
        apiServerId: 0
        organizationId: 6
        serviceId: 1
      properties:
        apiServerId:
          format: int64
          type: integer
        organizationId:
          format: int64
          type: integer
        serviceId:
          format: int64
          type: integer
      required:
      - apiServerId
      - organizationId
      - serviceId
      type: object
    RemoveOrphanRequest:
      example:
        apiServerId: 0
        serviceId: 6
      properties:
        apiServerId:
          format: int64
          type: integer
        serviceId:
          format: int64
          type: integer
      required:
      - apiServerId
      - serviceId
      type: object
    MoveServiceRequest:
      example:
        organizationId: 0
        apiServerId: 6
        newOrganizationId: 5
        serviceId: 1
      properties:
        organizationId:
          format: int64
          type: integer
        apiServerId:
          format: int64
          type: integer
        serviceId:
          format: int64
          type: integer
        newOrganizationId:
          format: int64
          type: integer
      required:
      - apiServerId
      - newOrganizationId
      - organizationId
      - serviceId
      type: object
    ServiceInstanceManagementResponse:
      example:
        organizationId: 0
        apiServerId: 6
        serviceId: 1
      properties:
        organizationId:
          format: int64
          type: integer
        apiServerId:
          format: int64
          type: integer
        serviceId:
          format: int64
          type: integer
      type: object
    AdoptServiceRequest:
      example:
        organizationId: 0
        apiServerId: 6
        serviceId: 1
      properties:
        organizationId:
          format: int64
          type: integer
        apiServerId:
          format: int64
          type: integer
        serviceId:
          format: int64
          type: integer
      required:
      - apiServerId
      - organizationId
      - serviceId
      type: object
    RenameOrganizationTokenRequest:
      example:
        organizationId: 0
        tokenId: tokenId
        description: description
      properties:
        organizationId:
          format: int64
          type: integer
        tokenId:
          type: string
        description:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - description
      - organizationId
      - tokenId
      type: object
    OrganizationTokenResponse:
      example:
        organizationId: 0
        tokenId: tokenId
        description: description
        accessToken: accessToken
      properties:
        organizationId:
          format: int64
          type: integer
        accessToken:
          type: string
        tokenId:
          type: string
        description:
          type: string
      type: object
    RotateOrganizationTokenRequest:
      example:
        organizationId: 0
        tokenId: tokenId
      properties:
        organizationId:
          format: int64
          type: integer
        tokenId:
          type: string
      required:
      - organizationId
      - tokenId
      type: object
    DeleteOrganizationTokenRequest:
      example:
        organizationId: 0
        tokenId: tokenId
        description: description
      properties:
        organizationId:
          format: int64
          type: integer
        tokenId:
          type: string
        description:
          type: string
      type: object
    CreateOrganizationTokenRequest:
      example:
        organizationId: 0
        description: description
      properties:
        organizationId:
          format: int64
          type: integer
        description:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - description
      - organizationId
      type: object
    GetOrganizationTokensRequest:
      example:
        organizationId: 0
      properties:
        organizationId:
          format: int64
          type: integer
      required:
      - organizationId
      type: object
    UpdateOrganizationRequest:
      example:
        name: name
        plan: FREE
      properties:
        plan:
          enum:
          - FREE
          - LITE
          - PREMIUM
          - ENTERPRISE
          type: string
        name:
          maxLength: 255
          minLength: 0
          type: string
      required:
      - name
      type: object
    ApiServerAccessResponse:
      example:
        organizationId: 5
        apiServerId: 2
        privileges:
        - CREATE_SERVICE
        - CREATE_SERVICE
        serviceAccess:
        - organizationId: 2
          apiServerId: 4
          privileges:
          - VIEW_SERVICE
          - VIEW_SERVICE
          clientAccess:
          - apiServerId: 1
            organizationId: 1
            privileges:
            - VIEW_CLIENT
            - VIEW_CLIENT
            clientId: 7
            serviceId: 6
            userId: 1
          - apiServerId: 1
            organizationId: 1
            privileges:
            - VIEW_CLIENT
            - VIEW_CLIENT
            clientId: 7
            serviceId: 6
            userId: 1
          allClientPrivileges:
          - VIEW_CLIENT
          - VIEW_CLIENT
          serviceId: 7
          userId: 3
        - organizationId: 2
          apiServerId: 4
          privileges:
          - VIEW_SERVICE
          - VIEW_SERVICE
          clientAccess:
          - apiServerId: 1
            organizationId: 1
            privileges:
            - VIEW_CLIENT
            - VIEW_CLIENT
            clientId: 7
            serviceId: 6
            userId: 1
          - apiServerId: 1
            organizationId: 1
            privileges:
            - VIEW_CLIENT
            - VIEW_CLIENT
            clientId: 7
            serviceId: 6
            userId: 1
          allClientPrivileges:
          - VIEW_CLIENT
          - VIEW_CLIENT
          serviceId: 7
          userId: 3
        allServicePrivileges:
        - VIEW_SERVICE
        - VIEW_SERVICE
        allClientPrivileges:
        - VIEW_CLIENT
        - VIEW_CLIENT
        apiServer:
          apiServerUrl: apiServerUrl
          description: description
          id: 7
          ownedBy: 9
        userId: 5
      properties:
        userId:
          format: int64
          type: integer
        organizationId:
          format: int64
          type: integer
        apiServerId:
          format: int64
          type: integer
        privileges:
          items:
            enum:
            - CREATE_SERVICE
            - ADMIN
            type: string
          type: array
          uniqueItems: true
        allServicePrivileges:
          items:
            enum:
            - VIEW_SERVICE
            - USE_SERVICE
            - CREATE_CLIENT
            - MODIFY_SERVICE
            type: string
          type: array
          uniqueItems: true
        allClientPrivileges:
          items:
            enum:
            - VIEW_CLIENT
            - MODIFY_CLIENT
            type: string
          type: array
          uniqueItems: true
        apiServer:
          $ref: '#/components/schemas/AuthleteApiServerResponse'
        serviceAccess:
          items:
            $ref: '#/components/schemas/ServiceAccessResponse'
          type: array
          uniqueItems: true
      type: object
    AuthleteApiServerResponse:
      example:
        apiServerUrl: apiServerUrl
        description: description
        id: 7
        ownedBy: 9
      properties:
        id:
          format: int64
          type: integer
        apiServerUrl:
          type: string
        description:
          type: string
        ownedBy:
          format: int64
          type: integer
      type: object
    ClientAccessResponse:
      example:
        apiServerId: 1
        organizationId: 1
        privileges:
        - VIEW_CLIENT
        - VIEW_CLIENT
        clientId: 7
        serviceId: 6
        userId: 1
      properties:
        apiServerId:
[...]
